*{padding:0;margin:0;}
@media screen and  (max-width: 768px){
  html{
    font-size:45% !important;
  }
}
html{
    font-size:62.5%;
}
.content{
  max-width: 640px;
  margin:0 auto;
  background-color:#68cdd5;
  overflow: hidden;
}
header{
  padding-top:2%;
  padding-left:3.5%;
}
#logo{
  text-align: center;
  margin:0px auto;
  padding-top:4.2%;
}
img {
    display: inline-block;
    max-width: 60%;
    height: auto;
}
#wenzi{
  color:#fff;
  font-family:"Microsoft YaHei";
  line-height:5.4rem;
  font-size:2.9rem;
  font-weight: 200;
  width:70%;
  margin:0px auto;
  padding-top:12%;
}
.footer{
  margin-top: 28%;
  width:50%;
  float:left;
  text-align:center;
}
.footer p{
  color:#fff;
  font-family:"Microsoft YaHei";
  line-height:5.4em;
  font-size:3em;
}