*{margin:0;padding:0;}
html{
  font:62.5% "Microsoft YaHei",serif;
  color:#fff;
  font-weight: 100;
}
@media screen and (max-width:450px){
  html{
    font-size:45%!important;
  }
}
body{
  max-width: 640px;
  margin:0 auto;
  background:#eff0f4;
  width:100%;
}
.header{
  padding-bottom: 30px;
  background:#5fc0cd;
  text-align: center;
  position: relative;
}
p{font-size: 3rem;}
#left{
  float:left;
  padding-top:30px;
  padding-left:30px;
}
#center{
  margin:0px auto;
  padding-top:30px;
  width:60px;
}
#right{
  position:absolute;
  top:30px;
  right:30px;
}

li{
  background:#fff;
  margin-top:15px;
}
label{
    display: inline-block;
    margin: 3% 4.6%;
    vertical-align: middle;
}
input{
    border: none;
    border-left: 2px solid #e1e5e7;
    padding:1% 0;
    vertical-align: middle;
    font: 3rem "Microsoft YaHei",serif;
    text-indent: 10px;
}
#submit input{
    background: #5fc0cd;
    width: 100%;
    margin-top: 70px;
    color: #fff;
    padding: 5.4% 0;
}
.footer{
  float:right;
  font-size:3rem;
  color:#5fc0cd;
  margin-top: 3%;
}
