*{margin:0;padding:0;}
html{font-size:10px}
body{min-width:320px;font-family:"microsoft yahei";}
header{
	width:100%;
	height:8rem;
	background:#5fc0cd;
	color:#FFF;
	font-size:3.6rem ;
	}
header strong{
    padding-left:4%;
	line-height:8rem;
	position:absolute;
}
header p{
	text-align:center;
	line-height:8rem;
	}
.introduce{
	height:32.5rem;
	background:url(images/task5-1_02.png);
	background-size:cover;
	position:relative;
	}
.name{
	color:#fff;
	font-size:3.6rem;
	position:absolute;
	top:11rem;
	left:23rem;
	line-height:6rem;
	}
.name span{
	font-size:2.8rem;
	}
.name address{
	font-size:2.4rem;
	}
.img {
	position:absolute;
	top:8rem;
	left:3rem;
    }
.skill{
	border-top:#CCC solid 1px;
	border-bottom:#CCC solid 1px;
	padding-left:3.5rem;
	}
.head p{
	padding:3rem 0 3rem 3rem;
	}
.head p span{
	padding-left:2.5rem;
	margin-top:-0.5rem;
	font-size:3.2rem;
	}
.skill p{
	padding:3rem 0;
	border-bottom:#CCC solid 1px;
	font-size:3.2rem;
	color:#666;
	}
.skill span{
	padding:0 2.5rem;
	color:#CCC;
	}
.skill p img{
	padding-right:1rem;
	}
.ziwo_2{
	display:inline-block;
	}
.skill p .red{
	color:#e26163;
	padding:0;
	}
footer{
	height:22.5rem;
	text-align:center;
	width:100%;
	}
footer .left{
	font-size:3.4rem;
	color:#5fc0cd;
	padding-top:2rem;
	height:8.5rem;
	width:30.5rem;
	border:2px solid #5fc0cd;
	border-radius:10px;
	float:left;
	margin-right:2.5rem;
	}
footer .right{
	font-size:3.4rem;
	color:#fff;
	padding-top:2rem;
	height:8.5rem;
	width:30.5rem;
	border:2px solid #5fc0cd;
	background:#5fc0cd;
	border-radius:10px;
	float:left;
	}
.foot{
    width:64.5rem;
	margin: 9.5rem auto 4rem;
    
	}

