*{margin:0;padding:0;}
html{width:100%;height:100%;font-size: 62.5%;}
body{
    min-width: 1080px;
    margin:0 auto;
    font-family: "Microsoft YaHei", serif;
    color:#333;
    font-weight: normal;
    background: #fafafa;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    text-decoration: none;
    border-bottom: 1px solid #fff;
}
ul{
    list-style: none;
}
h3{
    font-size: 1.8rem;
    color:#333;
    text-align: center;
}
i{display:inline-block;}
.img{background:url(images/img.png) no-repeat;}
/*****顶部联系电话部分*****/
.header-top{
    background: #fff;
    width:100%;
    padding:10px 0;
    position: relative;
}
.header-top span{
    color:#29b078;
    font-size:1.4rem;
    margin-left:10%;
}
.header-top ul{
    position: absolute;
    right: 10%;
    top: 8px;
}
.header-top ul li{
    float: right;
    margin:0 9px;
}
.weibo{
    height:25px;width:25px;background-position: -38px 0;
    margin-right: 10%;
}
.qq{
    height:25px;width:25px;background-position: -63px 0;
}
.weixin{
    height:25px;width:25px;background-position: -13px 0;
}
/*****顶部联导航栏部分*****/
.header-bottom{
    background: #29b078;
    position: relative;
    height:100px;
}
.header-bottom img{
    position: absolute;
    top:20px;
    left:10%;
}
.header-bottom ul{
    float: right;
    margin-right: 10%;
    line-height: 100px;
}
.header-bottom nav ul li{
    float: left;
    display: inline-block;

    font-weight: 500;
    font-size: 1.6rem;
}
nav li a{padding:47px 25px 37px;}
nav li a:hover{border-bottom: 5px solid #fff;}
/*****网页底部统一样式*****/
footer{
    background: #29b078;
    font-size: 1.6rem;
}
.footer-top{
    width:100%;
    position: relative;
    height: 170px;
}
.footer-top-left{
    position: absolute;
    left: 10%;
    padding: 35px 0;
}
.footer-top-center{
    position: absolute;
    left:35%;
    padding: 35px 0;
}
.footer-top-right{
    position: absolute;
    right:10%;
    padding: 35px 0;
}
.footer-top-left .list{
    margin-top:65px;
}
.footer-top-left .list span{
    padding: 0 10px;
    margin: 0 10px;
    border-left:1px solid #fff;
    border-right:1px solid #fff;
    font-size: 1.4rem;
}
.footer-top-center .web a{
    display: inline-block;
    padding: 20px 0 5px 0;
    margin-right: 35px;
    font-size: 1.4rem;
}
.footer-top-right img{
    border:7px solid #fff;
    margin-left: 2px;
    margin-top: 7px;
}
.footer-bottom{
    text-align: center;
    height:30px;
    line-height: 30px;
    border-top: 1px solid #32c086;
    font-size: 1.2rem;
}